/* from foundation */
.bourder-color {
  background-color: aquamarine;
}
body {
  margin: 0;
  /* background-image: url("../img/bg-cl.jpg"); */
}
.btn {
  background-color: #ea5455;
}


/* card */
.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  color: #0a0a0a; }
  .card > :last-child {
    margin-bottom: 0; }

.card-divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 1rem;
  background: #e6e6e6; }
  .card-divider > :last-child {
    margin-bottom: 0; }

.card-section {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 1rem; }
  .card-section > :last-child {
    margin-bottom: 0; }

.card-image {
  min-height: 1px; }
/* end card */


.col-one {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.col-two {
  padding: 10px 10px 10px 10px;
}

.cell.auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}
#default {
  display: block;
}

.description-text {
  color: #fefefe;
}
.footer-text {
  text-align: center;
  color: floralwhite;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}


.grid-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.grid-style {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.grid-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 15px 15px 15px 15px;
}
.grid-x > .medium-6 {
  width: 50%;
}

.grid-margin-x {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.header-search {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  padding: 10px 10px 10px 10px;
}

.input-text {
  position: relative;
}
.large-6 {
  width: 50%;
}

.medium-6 {
  width: 50%;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.star-rating {
  display: inline;
}

#result {
  display: none;
}

.search-div {
  margin: 0%;
  background-color: #16213e !important;
}

.title-box {
  padding: 5px 5px 5px 5px;
  background-color: lightskyblue;
  
}

.title-text {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #fefefe;
  padding-left: 30px;
}
.future-forecast{
    background-color: #0396ff;
    text-align: left;
    color: white;
    padding: 1.5em;
    border-radius: .4em;
    margin-top: 2px;
    margin-right: .6em;
    height: 60%;
}

