/* from foundation */
.bourder-color {
  background-color: aquamarine;
}
body {
  margin: 0;
  /* background-image: url("../img/bg-cl.jpg"); */
}
.btn {
  background-color: #ea5455;
}
.col-one {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.col-two {
  padding: 10px 10px 10px 10px;
}

.cell.auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}
#default {
  display: block;
}

.description-text {
  color: #fefefe;
}
.footer-text {
  text-align: center;
  color: floralwhite;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}


.grid-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.grid-style {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.grid-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 15px 15px 15px 15px;
}
.grid-x > .medium-6 {
  width: 50%;
}

.grid-margin-x {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.header-search {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  padding: 10px 10px 10px 10px;
}

.input-text {
  position: relative;
}
.large-6 {
  width: 50%;
}

.medium-6 {
  width: 50%;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.star-rating {
  display: inline;
}

#result {
  display: none;
}

.search-div {
  margin: 0%;
  background-color: #16213e !important;
}

.title-box {
  padding: 5px 5px 5px 5px;
  background-color: lightskyblue;
  
}

.title-text {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #fefefe;
  padding-left: 30px;
}

ul {
  display: none;
}

